.button {
  padding: 1rem;
  border: none;
  border-radius: 14px;
  color: var(--textColorHL);
  background-color: var(--buttonColor);
  cursor: pointer;
}

.secondary {
  background-color: transparent;
  color: var(--textColor);
}
