:root {
  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --bgColor: rgb(246, 243, 243);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light;
  }
  body {
    color: black;
    background: var(--bgColor);
  }
}
