.wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  background-color: var(--cardColor);
  color: var(--textColor);
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 1rem;
  max-width: 60rem;
}

.logoContainer {
  cursor: pointer;
  font-size: xx-large;
  font-weight: bold;
}

.navContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.headerMenu {
  display: flex;
  flex-direction: column;
  padding: 0 2rem 1rem 2rem;
  background-color: var(--cardColor);
}
