.wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--cardColor);
  color: var(--textColor);
}

.content {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin: 0 1rem;
  max-width: 60rem;
}

.logoContainer {
  cursor: pointer;
}

.navContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 700px) {
  .navContainer {
    gap: 2rem;
  }
}
