.input {
  padding: 1rem 1rem;
  border: none;
  background-color: var(--cardColor);
  color: var(--textColor);
  border-radius: 14px;
  outline: none;
}

.input:focus {
  box-shadow: var(--shadow);
}
