.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 60rem;
  padding-bottom: 100px;
}

.contentWrapper h2 {
  margin-left: 1rem;
}
