.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: white;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: var(--shadow);
}

.imageContainer {
  width: 200px;
  height: 200px;
  background-color: rgb(235, 231, 231);
  border-radius: 6px;
}

.title {
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

.author {
  font-size: smaller;
  font-weight: normal;
  padding-top: 0.2rem;
  margin: 0;
}

.otherDetails {
  margin: 0;
  padding: 0;
  font-size: smaller;
}
