.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 16rem;
  margin: 2rem 1rem 0 1rem;
}

.title {
  margin: 0;
  padding-left: 0.5rem;
}

@media (max-width: 700px) {
  .title {
    display: none;
  }
  .wrapper {
    margin-top: 1rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .wrapper Input {
    flex: 1;
  }
}
