.wrapper {
  display: flex;
  max-height: 20rem;
  min-width: 16rem;
  border-radius: 12px;
  padding: 1rem;
  margin: 1rem;
}

@media (max-width: 750px) {
  .wrapper {
    display: none;
  }
}

.title {
  margin: 0;
}
